@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@600;900&family=Poppins:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media only screen and (min-width: 1440px) {
  .name {
    font-size: 5em;
    height: 35vh;
  }

  .lastname {
    margin-top: .2em;
    transform: rotate(-5deg);
    background-size: 85% 130%;
    background-position: 0 100%;
  }
  
  #statement {
    height: 35vh;
    font-size: 4em;
    z-index: 2;
  }
  
  .title {
    grid-column: 1/4;
    grid-row: 1/3;
    text-align: center;
  }

  .outof {
    position: relative;
    top: 2em;
    grid-column: 2/4;
    grid-row: 1/3;
    margin-left: -2em;
  }

  .denver {
    position: relative;
    top: 1em;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: left;
    
  }

  .colorado {
    position: relative;
    top: 3.5em;
    margin-right: 2em;
    /* margin-top: 2em; */
    grid-column: 2/4;
    grid-row: 2/4;
    padding-top: 1em;
  }

  .abouttrans {
    height: 25vh;
  }
 
  .myskills {
    font-size: 3em;
  }

  .desc {
    font-size: 1em;
  }
  
  .worktrans {
    height: 20vh;
  }
  
  .my-work {
    font-size: 3em;
  }

  #creations {
    background-color: #0b0c10;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 4em;
    margin-right: 4em;
    z-index: 2;
  }

  .card {
    max-width: 20vw;
  }
  .cardtext {
    font-size: 2.2em;
  }
  
  .cardimg img {
    height: 500px;
  }

  .bitaboutme {
    font-size: 3.5em;
  }

  .myself {
    font-size: 2em;
  }
  
  .moreabout {
    max-width: 850px;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icons img {
    height: 7em;
    width: 7em;
    justify-content: space-between;
    padding-right: 2em;
  }
  
  .guitars {
    max-width: 50vw;
  }

  form {
    padding-top: 2em;
    max-width: 900px;
    align-items: flex-start;
  }

  form label {
    font-size: 1.8em;
  }
  
  textarea {
    height: 300px;
  }

  form button {
    font-size: 1.8em;
  }
  
  .navbarbottom a {
    color: #428693;
  }

  .periodw {
    color: rgb(182, 175, 126);
    font-size: 1.5em;
  }

}