@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@600;900&family=Poppins:wght@400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
                       /* !HEADER */
.container {
  display: grid;
  padding: 0;
}

.name {
  height: 75vh;
  background: url(/img/jakub-sofranko-QxO4eW3_cAw-unsplash.jpg);
  background-size: 100% 200%;
  background-position: top;
  /* background-color: #0b0c10; */
  font-size: 3.7em;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.firstname {
  /* color: rgb(27, 83, 168); */
  /* opacity: .8; */
  /* text-shadow: 1px 1px #fff; */
  grid-column: 1/2;
  grid-row: 1/2;
  font-weight: 900;
  margin-top: 2rem;
  margin-left: 1rem;
    background-image: url(/img/casey-horner-XE2RmuV6ed0-unsplash.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200%;
  background-position: left;
}

.lastname {
  position: relative;
  top: -4rem;
  left: -2rem;
  grid-column: 2/4;
  grid-row: 2/3;
  background: url(/img/casey-horner-XE2RmuV6ed0-unsplash.jpg) no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 500px 140px;
  background-position: bottom left;
  font-weight: 900;
  /* transform: rotate(10deg); */
}
                       /* !NAVIGATION */
.navbar {
  padding: 0;
  height: 15%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0b0c10;
  opacity: .8;
  z-index: 1;
}

.navbar a {
  font-family: "Poppins", sans-serif;
  /* float: left; */
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1em;
}

.navbar a:hover {
  background-color: #000000;
}

.active {
  color: #8fc1e3;
}

#about {
  right: -10px;
  border-right: 1px solid #fff;
}

#work {
  right: -10px;
  border-right: 1px solid #fff;
}

#contact {
  margin-right: 15px;
}
                      /* !ABOUT SECTION */
.aboutsec {
  background-color: #0b0c10;
  /* opacity: .5; */
}
#statement {
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  grid-template-rows: repeat(5, 1fr); 
  padding-left: .5em;
  padding-right: .5em;
  margin: 0;
}

/* ^each line slide in from different directions */
.title {
  grid-column: 1/4;
  grid-row: 2/3;
}

.jobtitle {
  margin-left: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.outof {
  grid-column: 2/4;
  grid-row: 3/4;
}

.outof-word {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.denver {
  grid-row: 4/5;
  grid-column: 3/4;
  text-align: left;
}

.city {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.colorado {
  grid-row: 5/6;
  grid-column: 3/4;
  text-align: right;
}

.state {
  margin-top: -.5em;
  margin-left: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

                       /* !SKILLS SECTION */

.skillscontainer {
  border-top: 2px solid #8fc1e3;
  background-color: #0b0c10;
  padding-bottom: 2em;
}

.skills {
  margin-top: 1em;
}

.myskills {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 2em;
  text-align: center;
}

.skillgallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skillgallery img {
  margin: .5em;
  width: 10vw;
  height: 10vh;
}

.skill {
  display: grid;
  background-color: #0b0c10;
  border: 1px solid #fff;
  padding: .5em;
  margin: 5px;
}

.desc {
  padding-top: 5px;
  border-top: 1px solid #fff;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: .2em;
}
                     /* !MY.WORK SECTION */
.my-work {
  background-color: #0b0c10;
}

.work-heading {
  border-top: 2px solid #8fc1e3;
  margin: 0 auto;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 2em;
  text-align: center;
}

#creations {
  background-color: #0b0c10;
  display: grid;
  grid-template-columns: 1fr 15fr 1fr;
  grid-template-rows: auto;
}

.card {
  display: grid;
  grid-column: 2/3;
}

.card-section {
  border: 2px outset #fff;
  font-family: "Poppins", sans-serif;
  color: #fff;
  padding: 10px;
  background-color: #333;
  grid-column: 2/3;
}

.card-section a {
  border: 2px outset #8fc1e3;
  padding: 15px;
  background-color: #333;
}

#codebtn {
  margin-right: .5em;
}

#projectbtn {
  margin-left: .5em;
}
                          /* !CONTACT SECTION */
.icons {
  background-color: #fff;
  display: flex;
  margin:1em 1em 0 0;
  justify-content: flex-end;
}

.icons img {
  padding: .5em;
  height: 2.5em;
  width: 2.5em;
}

/* #contactme {
  display: flex;
  justify-content: center;
  padding: 5em;
} */

.grabber {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 2fr;
}

.invitation {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  grid-column: 1 / 3;
  margin: auto;
}

.finale {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.awesome {
  font-family: "Poppins", cursive;
  font-weight: 900;
  font-size: 2.3em;
  grid-row: 3 / 4;
  grid-column: 2 / 4;
  margin: auto;
  transform: rotate(10deg);
}