/* *******************************************
****** PROJECT SETUP
******************************************* */

/* *FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@600;900&family=Poppins:wght@400;900&display=swap');
/* VARIABLES */
:root {
  /* MAIN COLORS */
  --main: black;
  --secondary: white;
  --accent: red;

  /* FONTS */

  --title: Poppins;
  --text: aerial;
}

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #0b0c10; */
  outline: 1px solid gold;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
  color: #c5c6c7;
}

body {
  font-family: var(--text);
  background-color: #0b0c10;
} */

/* *******************************************
****** PROJECT STYLES
******************************************* */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header {
  display: grid;
  grid-template-columns: 1fr 1.5fr 3fr;
  grid-template-rows: 1fr 1fr;
} */

.container {

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  margin-top: -.25rem;
  padding: 0;
}

.firstname {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  /* background: #333; */
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: right;
}

.lastname {
  font-family: 'Montserrat', sans-serif;
  /* background: burlywood; */
  grid-column: 2 / 3;
  grid-row: 2/3;
  margin-top: -1rem;
}

.navbar {
  display: flex;
  height: 7vh;
  width: 100vw;
  /* margin: 0 auto; */
  padding: 0;
}

.navbar-nav {
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-item {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1em;
  text-decoration: none;
}

.imsofancy {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 2fr 1fr; 
}

.imkel {
  margin: auto;
}

.whatigot {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  margin: auto;
  text-align: right;
}

.location {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  text-align: right;
}

#creations {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-overview.hydrated {
  padding: 10px;
}

.projname {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 0;
}

.description {
  text-align: center;
  font-size: .8em;
}

sl-button {
  display: block;
  margin: 1em;
}

#contactme {
  display: flex;
  justify-content: center;
  padding: 5em;
}

.grabber {
  
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 2fr;
}

.invitation {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  grid-column: 1 / 3;
  margin: auto;
}

.finale {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.awesome {
  font-family: "Bangers", cursive;
  grid-row: 3 / 4;
  grid-column: 2 / 4;
  margin: auto;
}