@media only screen and (min-width: 700px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    display: none;
  }

  .name {
    /* margin-top: -1.5em; */
    font-size: 1.5em;
  }

  .firstname {
    /* margin-top: -.5em; */
  }

  .lastname {
    background: url(/img/casey-horner-XE2RmuV6ed0-unsplash.jpg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 900px 240px;
    background-position: 0 100%; 
  }

  .aboutsec {
    padding-top: 2.5em;
    font-size: 2.5em;
  }
  /* .navbarwide {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .navbarwide a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2em;
    transform: rotate(20deg);
  } */

   /* .name {
    font-size: 2.5em;
    margin-left: 1em;
    display: inline;
    grid-template-columns: repeat(2, 1fr 2fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .firstname {
    font-size: 2.5em;
    grid-column: 1/2;
  } */

  /* .lastname {
    margin-left: 2em;
    margin-top: -.5em;
    font-size: 2.5em;
    grid-column: 3/4;
    grid-row: 2/3;
    background: url(/img/casey-horner-XE2RmuV6ed0-unsplash.jpg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 150% 115%;
    background-position: 0 100%;
  }  */

  /* .abouttrans {
    top: 3rem;
  } */

  /* .title {
    grid-column: 1/4;
    grid-row: 2/3;
  }

  .outof {
    grid-column: 3/4;
    grid-row: 3/4;
    margin-top: -4em;
  }

  .denver {
    grid-row: 3/4;
    margin-top: -2.5em;
    grid-column: 3/4;
    text-align: left;
  }

  .colorado {
    grid-row: 3/4;
    grid-column: 3/4;
    margin-top: -4.5em;
  } */

  .skills {
    margin-top: 3rem;
  }

  .work-heading {
    padding-bottom: 1em;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 2em;
    text-align: center;
  }

  #creations {
    padding-top: 1em;
    background-color: #10688685;
    padding-left: 1em;
    padding-right: 1em;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
  }

  .card {
    border: none;
    max-width: 50vw;
  }

  .cardtext {
    padding-top: 1em;
  }

  .card:nth-child(1) {
    grid-column: 1/2;
  }

  .card:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .card:nth-child(4) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}